Source: intel-npu-firmware-headers
Section: libs
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
XSBC-Original-Maintainer: Timo Aaltonen <tjaalton@debian.org>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 build-essential,
Standards-Version: 4.6.2
Homepage: https://github.com/intel/linux-npu-driver

Package: intel-npu-firmware-headers
Architecture: amd64
Multi-Arch: same
Depends:
 ${misc:Depends},
Description: This package contains the firmware headers for Intel® NPU device.
